.toggle {
  display: flex;
  input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    background: $white;
    position: relative;
    border: 1px solid transparent;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    transition: border-color 0.3s linear;
    .header-fixed &{
      border-color: $middle-gray;
    }

    span {
      padding: 8px 11px;
      transition: color 0.3s linear;
      display: flex;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.1;
      border-radius: inherit;
      position: relative;
      z-index: 1;
      &::after{
        content: '';
        width: inherit;
        height: inherit;
        background-color: transparent;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        z-index: -1;
        transition: background-color 0.3s linear,transform 0.2s ease-out;
      }
      &:first-child {
        color: $white;
       &::after{
         background-color: $purple;
       }
      }
    }
  }


  input {
    &:checked {
      & + label span{
        &:first-child {
          background-color: inherit;
          color: inherit;
          &::after{
            transform: translateX(100%);
          }
        }
        &:last-child {
          background-color: $purple;
          color: $white;
        }
      }
    }
    &:focus,&:focus-visible,:active{
      outline: none;
    }
  }
  @media screen and (max-width: 768px){
    margin-top: -20vh;
  }
  @media screen and (max-height: 768px){
    margin-top: -15vh;
  }
}