.tooltip {
  position: absolute;
  opacity: 1;
  width: 30px;
  height: 30px;
  background-color: $purple;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 0 rgba($purple, .3);
  animation: pulse 1.5s infinite normal both;
  transition: transform 0.5s;
  transform: scale(0);
  top: 0;
  left: 0;
  cursor: pointer;
  @include cycle(7,0.4s,100ms);

  &__text {
    display: block;
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transform-origin: center;
    left: -75px;
    padding: 8px 10px;
    top: -45px;
    color: $gray;
    background-color: $white;
    width: 180px;
    text-align: center;
    transition: opacity 0.3s;
    box-shadow: 0 0 20px 44px rgba(64, 47, 121, 0.07);
    border-radius: 2px;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: $white transparent transparent transparent;
      bottom: -4px;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: $white;

    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      will-change: transform;
      transition: transform 0.4s ease-in-out;
    }

    &:nth-child(2) {
      transform: rotate(90deg);
    }
  }

  .about__tab__img.active & {
    transform: scale(1);
  }

  &:nth-child(1) {
    [data-name="kitchen"] &, [data-name="rooms"] & {
      top: 32.5%;
      left: 31.5%;
    }

    [data-name="bathroom"] &, [data-name="lobby"] & {
      top: 30%;
      left: 23.5%;
    }
  }

  &:nth-child(2) {
    [data-name="kitchen"] &, [data-name="rooms"] & {
      top: 58%;
      left: 25.5%;
    }

    [data-name="bathroom"] &, [data-name="lobby"] & {
      top: 89%;
      left: 28.5%;
    }
  }

  &:nth-child(3) {
    [data-name="kitchen"] &, [data-name="rooms"] & {
      top: 62%;
      left: 45.7%;
    }

    [data-name="bathroom"] &, [data-name="lobby"] & {
      top: 88%;
      left: 53%;
    }
  }

  &:nth-child(4) {
    [data-name="kitchen"] &, [data-name="rooms"] & {
      top: 91%;
      left: 29%;
    }

    [data-name="bathroom"] &, [data-name="lobby"] & {
      top: 47%;
      left: 59%;
    }
  }

  &:nth-child(5) {
    [data-name="kitchen"] &, [data-name="rooms"] & {
      top: 48.2%;
      left: 61%;
    }

    [data-name="bathroom"] &, [data-name="lobby"] & {
      top: 80%;
      left: 76.5%;
    }
  }

  &:nth-child(6) {
    [data-name="kitchen"] &, [data-name="rooms"] & {
      top: 76%;
      left: 56.7%;
    }
  }

  &:nth-child(7) {
    [data-name="kitchen"] &, [data-name="rooms"] & {
      top: 63.8%;
      left: 80%;
    }
  }

  &.hover {
    .tooltip__text {
      opacity: 1;
      pointer-events: auto;
    }

    .tooltip__icon__wrapper {
      transform: rotate(45deg) scale(1.05);
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($purple, 0.3);
  }

  60% {
    box-shadow: 0 0 0 10px rgba($purple, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba($purple, 0);
  }
}